<?xml version="1.0"?>
<launch>
    <!-- MAVROS posix SITL environment launch script -->

    <!-- 滤波器和世界 filter and world -->
    <arg name="est" default="ekf2"/>
    <!-- <arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/outdoor1_light.world"/> -->
    <!-- <arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/indoor1.world"/> -->
    <arg name="world" default="$(find px4_sim)/worlds/my_world.sdf"/>

    
    <!-- gz设置 gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>

    <!-- 打开gz加载世界 Gazebo sim -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
    </include>

    <!-- 生成无人机 iris_0 -->
    <group ns="iris_0">
        <!-- MAVROS and vehicle configs -->
        <arg name="ID" value="0"/>
        <arg name="ID_in_group" value="0"/>
        <arg name="fcu_url" default="udp://:24540@localhost:34580"/>
        
        <!-- PX4 SITL and vehicle spawn -->
        <include file="$(find px4_sim)/launch/single_vehicle_spawn.launch">
            <arg name="x" value="0"/>
            <arg name="y" value="-40"/>
            <arg name="z" value="0"/>
            <!-- 角度的单位是度 -->
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="1.57"/>
            <arg name="vehicle" value="iris"/>
            <!-- 实际生成的是sdf这个模型 -->
            <arg name="sdf" value="iris_realsense_camera"/>
            <!-- <arg name="sdf" value="iris_2d_lidar"/> -->
            <arg name="mavlink_udp_port" value="18570"/>
            <arg name="mavlink_tcp_port" value="4560"/>
            <arg name="ID" value="$(arg ID)"/>
            <arg name="ID_in_group" value="$(arg ID_in_group)"/>
        </include>

        <!-- MAVROS -->
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
        </include>
    </group>

    <!-- <include file="$(find px4_sim)/launch/slam_run.launch" />     -->
    
</launch>
